In [1]:
import pandas as pd
import numpy as np

In [4]:
pd.options.display.max_rows = 30
pd.options.display.max_columns = None
pd.options.display.precision = 3

In [6]:
print(pd.__version__)
print(np.__version__)

1.0.1
1.18.1

In [9]:
df = pd.read_csv('http://s3.amazonaws.com/istreet-assets/cqj0wXOp6sICdTRWc5X2cw/olive.csv.txt')

In [11]:
df.columns

Index(['Unnamed: 0', 'region', 'area', 'palmitic', 'palmitoleic', 'stearic',
       'oleic', 'linoleic', 'linolenic', 'arachidic', 'eicosenoic'],
      dtype='object')

In [12]:
df.shape

(572, 11)

In [13]:
df['sub_region_raw'] = df['Unnamed: 0']

In [14]:
df.rename(columns={'Unnamed: 0': 'sub_region_desc'}, inplace=True)

In [15]:
df.rename(columns={'area': 'sub_region'}, inplace=True)

In [16]:
unique_values = df['region'].unique()

In [17]:
unique_values

array([1, 2, 3])

In [18]:
df['region']

0      1
1      1
2      1
3      1
4      1
      ..
567    3
568    3
569    3
570    3
571    3
Name: region, Length: 572, dtype: int64

In [26]:
sub_region_unique_count = pd.value_counts(df['sub_region'])

In [27]:
sub_region_unique_count

3    206
5     65
2     56
9     51
8     50
7     50
4     36
6     33
1     25
Name: sub_region, dtype: int64

In [40]:
len(df['sub_region'].unique())

9

In [30]:
df_first2=df.iloc[0:2]

In [31]:
df_first2

,sub_region_desc,region,sub_region,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 572 entries, 0 to 571
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sub_region_desc  572 non-null    object
 1   region           572 non-null    int64
 2   sub_region       572 non-null    int64
 3   palmitic         572 non-null    int64
 4   palmitoleic      572 non-null    int64
 5   stearic          572 non-null    int64
 6   oleic            572 non-null    int64
 7   linoleic         572 non-null    int64
 8   linolenic        572 non-null    int64
 9   arachidic        572 non-null    int64
 10  eicosenoic       572 non-null    int64
 11  sub_region_raw   572 non-null    object
dtypes: int64(10), object(2)
memory usage: 53.8+ KB

In [42]:
df['sub_region_desc'].head(5)

0    1.North-Apulia
1    2.North-Apulia
2    3.North-Apulia
3    4.North-Apulia
4    5.North-Apulia
Name: sub_region_desc, dtype: object

In [57]:
srd_unique = df['sub_region_desc'].str.extract(r".*\.(.*$)")[0].unique()

In [59]:
srd_unique

array(['North-Apulia', 'Calabria', 'South-Apulia', 'Sicily',
       'Inland-Sardinia', 'Coast-Sardinia', 'Umbria', 'East-Liguria',
       'West-Liguria'], dtype=object)